In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

# Caminho para o arquivo CSV



# Carregar o DataFrame do CSV
df = pd.read_excel('C:\\Users\\User2\\Desktop\\Python\\quintis6.xlsx')
df

     PHDIquintil   HOMO
0              4  4.000
1              5  7.000
2              1  8.460
3              1  8.619
4              1  9.359
..           ...    ...
373            1    NaN
374            4    NaN
375            2    NaN
376            1    NaN
377            5    NaN

[378 rows x 2 columns]

In [3]:
# Iterar por todas as colunas do DataFrame df2
for col in df.columns:
    # Converter para string
    df[col] = df[col].astype(str)
    
    # Remover espaços e substituir vírgulas por pontos
    df[col] = df[col].str.replace(r'\s+', '', regex=True)  # Remover espaços
    df[col] = df[col].str.replace(',', '.')  # Substituir vírgulas por pontos
    
    # Converter para float, ignorando erros
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [4]:
def calcular_agregados_phdi(df, colunas_phdi, colunas):
    resultados = {}

    for coluna_phdi in colunas_phdi:
        # Definir os limites fixos para os quintis (de 0 a 1, com incrementos de 0,2)
        limites_quintis = [0, 0.2, 0.4, 0.6, 0.8, 1.0]

        # Aplicar pd.cut para dividir os valores da coluna em quintis baseados nos limites
        df[f'{coluna_phdi}_quintil'] = pd.cut(df[coluna_phdi], bins=limites_quintis, labels=False, include_lowest=True) + 1

        # Agrupar por quintil da coluna PHDI e calcular agregados para as colunas de interesse
        agregados = df.groupby(f'{coluna_phdi}_quintil').agg(
            {coluna: ['mean', 'std'] for coluna in colunas}
        ).reset_index()

        # Renomear as colunas do resultado
        novas_colunas = [f'{coluna_phdi}_quintil']  # Iniciando com a coluna de quintil
        for coluna in colunas:
            # Criar nova coluna com formato "média (desvio)"
            agregados[f"{coluna}_resultado"] = (
                agregados[(coluna, 'mean')].round(2).astype(str) + " (" + 
                agregados[(coluna, 'std')].round(2).astype(str) + ")"
            )
            novas_colunas.append(f"{coluna}_resultado")
        
        # Selecionar apenas as colunas necessárias
        agregados = agregados[novas_colunas]
        
        # Armazenar o resultado no dicionário
        resultados[coluna_phdi] = agregados
    
    return resultados

# Definindo as colunas de PHDI e de interesse
colunas_phdi = ['PHDIquintil']  # A coluna para a qual você quer calcular quintis
colunas = ['HOMO']  # As colunas para as quais você quer calcular os agregados

# Chamar a função e armazenar os resultados
resultados_agregados_phdi = calcular_agregados_phdi(df, colunas_phdi, colunas)


print(f"Resultados exportados para {nome_arquivo}")
resultados_agregados_phdi

NameError: name 'nome_arquivo' is not defined

Ajustar para quintil

In [ ]:
import pandas as pd

# Carregar o dataset (ajuste o caminho do arquivo conforme necessário)
df = pd.read_csv('C:\\Users\\User2\\Desktop\\Python\\dba2.csv', delimiter=';', encoding='utf-8')
df = df.drop_duplicates()
# Remover linhas com valores ausentes
# Remove linhas com qualquer NaN
df

In [ ]:
import pandas as pd

# Carregar o dataset (ajuste o caminho do arquivo conforme necessário)
# df = pd.read_csv('C:\\Users\\User2\\Desktop\\Python\\dba2.csv', delimiter=';', encoding='utf-8')

# Remover duplicatas

# Definir as colunas a serem utilizadas
colunas_phdi = ['PHDIquintil']
colunas = ['HOMO']

# Verificar se as colunas estão presentes no dataframe
colunas_presentes_phdi = [col for col in colunas_phdi if col in df.columns]
colunas_presentes = [col for col in colunas if col in df.columns]

# Certificar que as colunas são numéricas, caso contrário convertê-las
for col in colunas_presentes:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Transforma os valores em numéricos, substituindo erros por NaN

# Calcular os quintis cruzando colunas_phdi com colunas
for col_phdi in colunas_presentes_phdi:
    for col in colunas_presentes:
        if df[col].notna().sum() > 0:  # Verifica se há valores numéricos suficientes
            try:
                df[f'{col_phdi}_x_{col}_quintil'] = pd.qcut(df[col], 5, labels=False, duplicates='drop') + 1  # Calcula quintil de 1 a 5
            except ValueError as e:
                print(f"Erro ao calcular quintis para {col_phdi} e {col}: {e}")

# Exibir as primeiras linhas com as novas colunas de quintis
print(df[[col for col in df.columns if '_quintil' in col]].head())

# Opcionalmente, salvar o arquivo com os novos dados
df.to_csv('C:\\Users\\User2\\Desktop\\Python\\arquivo_com_quintis.csv', index=False)

df

In [ ]:
pip install pandas xlsxwriter

In [5]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv('C:\\Users\\User2\\Desktop\\Python\\dba2.csv', delimiter=';', encoding='utf-8')


df

,NQUES,ESCOLA,escolacat,ANO,TURN,TURNCAT,NOMERES,NOMECRI,DATNASC,IDADECALC,...,_merge,mod_perc,ideal_per,raz_per,adeq_per,PHDIquintil.1,PHDI_aqd_quintil.1,PHDI_mod_quintil.1,PHDI_razao_quintil.1,PHDI_ideal_quintil.1
0,1,1,1,2,1,1,Maria Aparecida de Paula Rocha,Ana Luiza de Paula Rocha,39190,8,...,Matched (3),23.762.468,24.608.238,42.264.042,23.155.661,2,3,3,1,4
1,2,1,1,3,1,1,Cristiane Fabiana dos Reis Rosa,Maria Eduarda Reis de Almeida,39121,8,...,Matched (3),49.814.396,16.509.373,68.291.214,13.728.172,4,4,3,4,4
2,3,1,1,4,2,2,Maria Elisa de Almeida,Silmar Almeida de Araújo,38699,9,...,Matched (3),2.948.584,24.457.695,35.830.193,2.931.278,5,4,5,5,2
3,4,1,1,3,1,1,Cristiane das Dores Rodrigues Martins,Moises Davi Rodrigues Martins,39064,8,...,Matched (3),31.292.231,27.159.828,6.321.944,15.777.419,2,3,2,2,3
4,5,1,1,3,1,1,Daniele Cristina Rosa,Guilherme Rosa dos Santos,38857,8,...,Matched (3),23.551.815,44.692.535,75.496.086,1.534.563,5,5,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,390,24,0,3,2,2,José Mauro de Oliveira,Kauan Lucas Oliveira,39248,8,...,Matched (3),33.797.138,31.783.987,35.189.648,22.959.919,5,5,4,3,5
374,391,24,0,4,2,2,Arlindo Vanderlei Lopes,Arlindo Lopes Junior,38862,9,...,Matched (3),2.549.398,15.136.714,22.335.224,32.939.003,2,3,1,3,4
375,392,24,0,2,2,2,Antônio Adalberto Saraiva,Luiz Miguel da Silva Saraiva,39291,8,...,Matched (3),33.885.715,19.770.281,0,71.271.315,4,2,1,3,5
376,393,24,0,4,2,2,João Carlos Rodrigues de Freitas,Pedro Henrique Freitas,38753,9,...,Matched (3),3.791.304,24.523.285,32.318.127,80.796.757,3,4,4,3,2
377,394,24,0,3,2,2,Giselly Trivelato Silva,Isabeli Trivelato Silva,38938,9,...,Matched (3),37.528.931,33.714.657,20.504.091,47.664.542,1,2,1,4,2

:

In [ ]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv('C:\\Users\\User2\\Desktop\\Python\\dba2.csv', delimiter=';', encoding='utf-8')

# Exibir as primeiras linhas do DataFrame e as colunas disponíveis
print("Primeiras linhas do DataFrame:")
print(df.head())
print("\nColunas disponíveis:")
print(df.columns)

# Lista de colunas de quintil e colunas de interesse para calcular
quintil_colunas = ['PHDIquintil', 'PHDI_aqd_quintil', 'PHDI_mod_quintil', 'PHDI_razao_quintil', 'PHDI_ideal_quintil']
colunas_calcular = ['HOMO', 'INSU', '%GOGINOI', '%GORANDRO']

# Converter colunas para numérico e tratar erros
df[colunas_calcular] = df[colunas_calcular].apply(pd.to_numeric, errors='coerce')

# Verificar quantas linhas restaram após dropar valores nulos
print("\nQuantidade de linhas após dropar valores nulos:")
print(df.shape)

# Lista para armazenar os resultados
todos_dados = []

# Laço para calcular as estatísticas de cada quintil em relação às colunas desejadas
for quintil_col in quintil_colunas:
    for col in colunas_calcular:
        # Agrupar pela coluna de quintil e calcular média e desvio padrão da coluna de interesse
        estatisticas = df.groupby(quintil_col)[col].agg(['mean', 'std']).reset_index()

        # Criar a coluna combinando média e desvio padrão no formato "média (desvio padrão)"
        estatisticas['media_desvio'] = estatisticas.apply(
            lambda row: f"{row['mean']:.2f} ({row['std']:.2f})", axis=1
        )

        # Adicionar a coluna do quintil ao DataFrame
        estatisticas['Quintil'] = quintil_col
        
        # Adicionar a coluna da variável calculada
        estatisticas['Coluna'] = col
        
        # Selecionar e renomear as colunas para adicionar ao DataFrame final
        dados_final = estatisticas[['Quintil', 'Coluna', 'media_desvio']]
        todos_dados.append(dados_final)

# Concatenar todos os dados em um único DataFrame
todos_dados_df = pd.concat(todos_dados, ignore_index=True)

# Exibir o DataFrame resultante
print("\nDataFrame resultante:")
print(todos_dados_df)

# Caminho para salvar o arquivo CSV
output_file_path = 'C:\\Users\\User2\\Desktop\\Python\\estatisticas_quintis.csv'

# Criar o arquivo CSV e salvar todos os dados em uma única aba
todos_dados_df.to_csv(output_file_path, index=False)

print(f"Arquivo CSV gerado com sucesso: {output_file_path}")

In [ ]:
import pandas as pd

# Carregar o arquivo Excel
df = pd.read_excel('C:\\Users\\User2\\Desktop\\Python\\quintis7.xlsx')

# Lista de colunas de quintis e colunas de interesse
quintil_colunas = ['PHDIquintil', 'PHDI_aqd_quintil', 'PHDI_mod_quintil', 'PHDI_razao_quintil', 'PHDI_ideal_quintil']
colunas_calcular = ['HOMO', 'INSU', '%GOGINOI', '%GORANDRO']

# Lista para armazenar todos os dados
todos_dados = []

# Função para calcular média e desvio padrão
def calcular_estatisticas(df, quintil_col, col):
    estatisticas = df.groupby(quintil_col)[col].agg(['mean', 'std']).reset_index()
    estatisticas['media_desvio'] = estatisticas.apply(
        lambda row: f"{row['mean']:.2f} ({row['std']:.2f})", axis=1
    )
    estatisticas['PHDI'] = quintil_col  # Adiciona a coluna PHDI para identificação
    estatisticas['Coluna'] = col          # Adiciona a coluna da variável calculada
    return estatisticas[['PHDI', 'Coluna', 'media_desvio']]

# Calcular estatísticas para todas as combinações
for quintil_col in quintil_colunas:
    for col in colunas_calcular:
        resultado = calcular_estatisticas(df, quintil_col, col)
        todos_dados.append(resultado)

# Concatenar todos os dados em um único DataFrame
todos_dados_df = pd.concat(todos_dados, ignore_index=True)


# Caminho para salvar o arquivo Excel
output_file_path = 'C:\\Users\\User2\\Desktop\\Python\\estatisticas_quintis.xlsx'

# Exportar todos os dados para uma única aba no Excel
todos_dados_df.to_excel(output_file_path, sheet_name='Estatisticas', index=False)

print(f"Arquivo Excel gerado com sucesso: {output_file_path}")

Arquivo Excel gerado com sucesso: C:\Users\User2\Desktop\Python\estatisticas_quintis.xlsx